<% if logged_in? %>
  <%= @error %>
 <form action="/tweets/<%= @tweet.id %>" method="post">
   <input type="hidden" name="_method" value="patch" >
   <h1>Edit Your Tweet:</h1>
   <input type="text" name="content" value="<%= @tweet.content %>"><br>
   <!-- <input type="submit" value="submit" > -->
   <input type="submit" value="submit" name="submit">

 </form>

 <% else %>
     <h1> You Must Be Logged in to Make Tweets </h1>
 <% end %>
